---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr" class="bg-primary text-black min-h-[100dvh]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/o-gallo/favicon.png" />
    <meta
      name="description"
      content="La Ferme ô Gallo est une ferme maraîchère conduite en Agriculture Biologique située au lieu-dit Kergus à Plouguernével.Nous vous proposons une gamme d'une quarantaine de légumes qui fluctue au fil des saisons. Ferme - Maraîchage - Bio - Biologique | Kergus - Plouguernével - 22110 - Rostrenen - Carhaix - Buis Sonnant - KBTP | Côtes-d'Armor - Centre Bretagne - Bretagne - Kreiz Breizh"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-full font-body">
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    @font-face {
      font-family: "Birdgo";
      font-style: normal;
      font-weight: normal;
      font-display: swap;
      src: url("/o-gallo/fonts/Birdgo.ttf") format("truetype");
    }
    @font-face {
      font-family: "Neue Regrade";
      font-style: normal;
      font-weight: 100 900;
      font-display: swap;
      src: url("/o-gallo/fonts/Neue Regrade Variable.ttf") format("truetype");
    }
  }
</style>
